<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Customised/HomeStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Customised/SharedStyle.css">
</head>

<body class="background">
    <script>
        $(document).ready(function () {
            $('#'+'@ViewContext.Controller.ValueProvider.GetValue("controller").RawValue'+'Button').addClass("active");
        });
    </script>
    @RenderPage("~/Views/Shared/MenuWebsite.cshtml")
    <br>
    <div class="basicContainer">
        <div>
            @RenderBody()
            <br>
            <div class="basicButton">
                @Html.ActionLink("back home page.", "index", "Home", null, null)
            </div>
        </div>
    </div>
    <br>
</body>
</html>
