@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ErrorStyle.css">
</head>

<body class="background">
    <div class="errorContainer">
        <div>
            @if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                @Html.DisplayText("An Error happened.");
            }
            else
            {
                @ViewBag.ErrorMessage
            }
            <div class="goBackButton">
                @Html.ActionLink("back home page.", "index", "Home", null, null)
            </div>
        </div>
    </div>
</body>
</html>